automation/workflows/01-lead-capture-and-classification.json
{
  "name": "Yankura | 01 Lead Capture & Classification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yankura/lead-intake",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "d69902b8-754d-5f88-bba6-80f03721ac40",
      "name": "Lead Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        140
      ],
      "webhookId": "639247bf-503d-5e1f-ab13-3e0853fec53a"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yankura/instagram-dm",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "caf2cb97-a446-59ad-97f5-c68946181bd3",
      "name": "Instagram DM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        300
      ],
      "webhookId": "909c66c3-66c9-52d6-9a3a-e9c948a26d6b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yankura/whatsapp-inbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1c95a93f-a27b-521a-955a-0d28294033de",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        460
      ],
      "webhookId": "47e1851b-f151-51ea-a75a-0e91843cfe32"
    },
    {
      "parameters": {
        "downloadAttachments": false,
        "options": {}
      },
      "id": "28b9e4fb-73ba-5884-b10e-39b732ad3f2d",
      "name": "Gmail IMAP Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        60,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            function extractBudgetText(text) {\n              const match = toText(text).match(/(\\d{1,3}(?:[.,]\\d{3})*(?:\\s*[-–]\\s*\\d{1,3}(?:[.,]\\d{3})*)?)\\s*(tl|try)/i);\n              return match ? match[0] : '';\n            }\n\n            const results = items.map((item) => {\n              const raw = item.json || {};\n              const body = raw.body && typeof raw.body === 'object' ? raw.body : raw;\n              const headers = raw.headers || {};\n              const emailText = [raw.subject, raw.textPlain, raw.textHtml].filter(Boolean).join('\\n');\n              const source = coalesce(\n                body.source,\n                headers['x-yankura-source'],\n                headers['x-manychat-subscriber-id'] ? 'instagram_dm' : '',\n                headers['x-twilio-signature'] ? 'whatsapp' : '',\n                raw.from ? 'email' : '',\n                'web_form',\n              );\n              const requestText = coalesce(body.request, body.talep, body.message, body.notes, body.text, emailText);\n              const requestedService = coalesce(body.service, body.requestedService, body.hizmet, serviceKeywordFallback(requestText));\n              const name = coalesce(body.name, body.fullName, body.isim, raw.from?.value?.[0]?.name, body.company, 'Yeni Lead');\n              const email = extractEmail(coalesce(body.email, raw.from?.value?.[0]?.address, raw.from?.text));\n              const phone = coalesce(body.phone, body.telefon, body.whatsapp, body.mobile);\n              const company = coalesce(body.company, body.companyName, body.brandName, body.marka, '');\n              const sector = coalesce(body.sector, body.sektor, 'Belirtilmedi');\n              const budgetRaw = coalesce(body.budget, body.butce, extractBudgetText(requestText), 'Belirtilmedi');\n              const leadId = `lead-${slugify(company || name || email || 'yankura')}-${Date.now()}`;\n              return {\n                json: {\n                  leadId,\n                  source,\n                  name,\n                  email,\n                  phone,\n                  company,\n                  sector,\n                  budgetRaw,\n                  budgetValue: parseCurrency(budgetRaw),\n                  requestedServiceRaw: requestedService,\n                  requestText,\n                  receivedAt: new Date().toISOString(),\n                },\n              };\n            });\n\n            return results;\n"
      },
      "id": "9feeaf8c-329b-5b09-84f9-d56d00506e5c",
      "name": "Normalize Intake",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            const output = [];\n            for (const item of items) {\n              const fallbackCategory = serviceKeywordFallback(`${item.json.requestText} ${item.json.requestedServiceRaw}`);\n              let classification = {\n                category: fallbackCategory,\n                rationale: 'Anahtar kelime fallback kurali ile siniflandirildi.',\n                confidence: 0.58,\n                urgency: 'normal',\n              };\n\n              try {\n                classification = await callAiJson({\n                  systemPrompt: 'Sen Yankura icin lead siniflandirma asistani sin. Sadece gecerli JSON don.',\n                  userPrompt: `\n                  Asagidaki lead verisini incele ve yalnizca su kategorilerden birini sec:\n                  [sosyal_medya_yonetimi, reklam_kampanyasi, icerik_uretimi, raporlama, diger]\n\n                  Lead:\n                  ${JSON.stringify(item.json, null, 2)}\n\n                  Donus JSON seklinde olmali:\n                  {\n                    \"category\": \"...\",\n                    \"rationale\": \"...\",\n                    \"confidence\": 0.0,\n                    \"urgency\": \"dusuk|normal|yuksek\"\n                  }\n                  `,\n                });\n              } catch (error) {\n                classification.aiError = error.message;\n              }\n\n              output.push({\n                json: {\n                  ...item.json,\n                  serviceCategory: classification.category || fallbackCategory,\n                  classificationReason: classification.rationale || '',\n                  classificationConfidence: classification.confidence || 0,\n                  urgency: classification.urgency || 'normal',\n                  aiFallbackUsed: Boolean(classification.aiError),\n                },\n              });\n            }\n\n            return output;\n"
      },
      "id": "4f3da4fa-7b70-5561-9bd4-fdd621035bdd",
      "name": "Classify Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            const response = [];\n            for (const item of items) {\n              const page = await notionCreatePage(readEnv('NOTION_LEADS_DATABASE_ID'), {\n                Name: notionTitle(item.json.company || item.json.name || item.json.leadId),\n                Email: notionEmail(item.json.email),\n                Phone: notionRichText(item.json.phone),\n                Company: notionRichText(item.json.company || item.json.name),\n                Sector: notionSelect(item.json.sector),\n                Source: notionSelect(item.json.source),\n                Category: notionSelect(item.json.serviceCategory),\n                'Lead Status': notionStatus('Lead'),\n                'Lead ID': notionRichText(item.json.leadId),\n                'Requested Service': notionRichText(item.json.requestedServiceRaw),\n                Request: notionRichText(item.json.requestText),\n                'Budget Label': notionRichText(item.json.budgetRaw),\n                'Budget Value': notionNumber(item.json.budgetValue),\n                'Classification Note': notionRichText(item.json.classificationReason),\n                'Created At': notionDate(item.json.receivedAt),\n              });\n\n              response.push({\n                json: {\n                  ...item.json,\n                  notionLeadPageId: page.id,\n                  notionLeadUrl: page.url,\n                },\n              });\n            }\n\n            return response;\n"
      },
      "id": "d5adbebf-0cb8-5af0-9d28-8cef16b43b79",
      "name": "Create Notion Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        340
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.serviceCategory}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "sosyal_medya_yonetimi"
            },
            {
              "operation": "equal",
              "value2": "reklam_kampanyasi"
            },
            {
              "operation": "equal",
              "value2": "icerik_uretimi"
            },
            {
              "operation": "equal",
              "value2": "raporlama"
            }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "842d1457-dc19-5d23-9222-fb2019288a1c",
      "name": "Switch Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1040,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            for (const item of items) {\n              await httpJson(`${readEnv('INTERNAL_WEBHOOK_BASE_URL', 'http://n8n-main:5678')}/webhook/yankura/proposal/generate`, {\n                method: 'POST',\n                headers: { 'Content-Type': 'application/json' },\n                body: JSON.stringify({\n                  ...item.json,\n                  proposalTrack: 'social_media',\n                  packageFrame: 'Sosyal medya yonetimi odakli teklif',\n                }),\n              });\n            }\n            return items;\n"
      },
      "id": "09a86cfa-4cb3-5ec0-a8eb-7b3936f9dfbc",
      "name": "Route Social Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            for (const item of items) {\n              await httpJson(`${readEnv('INTERNAL_WEBHOOK_BASE_URL', 'http://n8n-main:5678')}/webhook/yankura/proposal/generate`, {\n                method: 'POST',\n                headers: { 'Content-Type': 'application/json' },\n                body: JSON.stringify({\n                  ...item.json,\n                  proposalTrack: 'ads',\n                  packageFrame: 'Meta ve TikTok reklam yonetimi odakli teklif',\n                }),\n              });\n            }\n            return items;\n"
      },
      "id": "e9996c3a-7a39-531f-9b34-93dc2ff33590",
      "name": "Route Ad Campaigns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            for (const item of items) {\n              await httpJson(`${readEnv('INTERNAL_WEBHOOK_BASE_URL', 'http://n8n-main:5678')}/webhook/yankura/proposal/generate`, {\n                method: 'POST',\n                headers: { 'Content-Type': 'application/json' },\n                body: JSON.stringify({\n                  ...item.json,\n                  proposalTrack: 'content',\n                  packageFrame: 'Icerik uretimi ve takvim odakli teklif',\n                }),\n              });\n            }\n            return items;\n"
      },
      "id": "716cc86d-208c-5ddf-a051-2b37ae1a5aa0",
      "name": "Route Content Production",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            for (const item of items) {\n              await httpJson(`${readEnv('INTERNAL_WEBHOOK_BASE_URL', 'http://n8n-main:5678')}/webhook/yankura/proposal/generate`, {\n                method: 'POST',\n                headers: { 'Content-Type': 'application/json' },\n                body: JSON.stringify({\n                  ...item.json,\n                  proposalTrack: 'reporting',\n                  packageFrame: 'Raporlama ve optimizasyon odakli teklif',\n                }),\n              });\n            }\n            return items;\n"
      },
      "id": "6bc64031-0f12-5c1f-9567-dc1d20222d11",
      "name": "Route Reporting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            for (const item of items) {\n              await postSlack(\n                `Yeni manuel inceleme lead'i\\nKaynak: ${item.json.source}\\nAd: ${item.json.name}\\nSirket: ${item.json.company || '-'}\\nTalep: ${item.json.requestText}`,\n                'SLACK_WEBHOOK_URL',\n              );\n            }\n            return items;\n"
      },
      "id": "4a4f80db-4858-533a-9982-8faff05bc2c1",
      "name": "Route Manual Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            const results = [];\n            for (const item of items) {\n              if (item.json.email) {\n                await sendEmail({\n                  to: item.json.email,\n                  subject: 'Talebinizi aldik | Yankura',\n                  html: `\n                    <div style=\"font-family:Arial,sans-serif;line-height:1.6\">\n                      <p>Merhaba ${item.json.name.split(' ')[0]},</p>\n                      <p>Mesajiniz bize ulasti. Yankura ekibi olarak talebinizi inceledik ve size uygun akis icin sistemi calistirdik.</p>\n                      <p><strong>Talep kategorisi:</strong> ${item.json.serviceCategory}</p>\n                      <p>Kisa sure icinde teklifinizi paylasacagiz. Bu sirada eklemek istediginiz bir detay varsa bu maile direkt yanit verebilirsiniz.</p>\n                      <p>Sevgiler,<br>Yankura</p>\n                    </div>\n                  `,\n                });\n              }\n              results.push(item);\n            }\n            return results;\n"
      },
      "id": "c0a3b329-2c91-5159-b53f-68b6f5e34a6a",
      "name": "Send Ack Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1530,
        340
      ]
    }
  ],
  "connections": {
    "Lead Form Webhook": {
      "main": [
        [
          {
            "node": "Normalize Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram DM Webhook": {
      "main": [
        [
          {
            "node": "Normalize Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Normalize Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail IMAP Trigger": {
      "main": [
        [
          {
            "node": "Normalize Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Intake": {
      "main": [
        [
          {
            "node": "Classify Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Lead": {
      "main": [
        [
          {
            "node": "Create Notion Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Lead": {
      "main": [
        [
          {
            "node": "Switch Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Category": {
      "main": [
        [
          {
            "node": "Route Social Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Ad Campaigns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Content Production",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Reporting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Social Media": {
      "main": [
        [
          {
            "node": "Send Ack Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Ad Campaigns": {
      "main": [
        [
          {
            "node": "Send Ack Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Content Production": {
      "main": [
        [
          {
            "node": "Send Ack Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Reporting": {
      "main": [
        [
          {
            "node": "Send Ack Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Manual Review": {
      "main": [
        [
          {
            "node": "Send Ack Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e74e0fd-ba15-5377-81b0-ba3e58f06b6c",
  "meta": {
    "instanceId": "yankura-automation",
    "templateCredsSetupCompleted": false
  },
  "id": "bb19a700-0def-55ce-990b-2f76fe190f1d",
  "tags": []
}
