automation/workflows/06-onboarding.json
{
  "name": "Yankura | 06 Onboarding Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "yankura/proposal-approval",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "bcb5c92c-8b1a-54dd-b49f-b1e43667d41b",
      "name": "Proposal Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        120
      ],
      "webhookId": "5831ab51-356c-531c-8744-ec000e16d0f3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yankura/onboarding-form",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "7f10721e-c27a-5df4-8cdb-af84e05cbfd3",
      "name": "Onboarding Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        360
      ],
      "webhookId": "9132cfb9-0fc8-571a-974e-5836339dd1c7"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            return items.map((item) => {\n              const raw = item.json || {};\n              const body = raw.body && typeof raw.body === 'object' ? raw.body : raw;\n              const query = raw.query || {};\n              const isApproval = Boolean(query.approvalToken || body.approvalToken || query.selectedPackage);\n              return {\n                json: {\n                  mode: isApproval ? 'approval' : 'onboarding',\n                  leadPageId: coalesce(query.leadPageId, body.leadPageId, body.notionLeadPageId),\n                  approvalToken: coalesce(query.approvalToken, body.approvalToken),\n                  selectedPackage: coalesce(query.selectedPackage, body.selectedPackage),\n                  brandName: coalesce(body.brandName, body.company, body.clientName),\n                  website: coalesce(body.website, body.site),\n                  targetAudience: coalesce(body.targetAudience, body.hedefKitle),\n                  brandVoice: coalesce(body.brandVoice, body.markaSesi),\n                  avoidTopics: coalesce(body.avoidTopics, body.kacinilanlar),\n                  primaryGoal: coalesce(body.primaryGoal, body.hedef),\n                  email: extractEmail(body.email),\n                },\n              };\n            });\n"
      },
      "id": "dea2576e-e3f0-5c89-a21f-bef0940e8a07",
      "name": "Normalize Onboarding Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        240
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.mode}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "approval"
            },
            {
              "operation": "equal",
              "value2": "onboarding"
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "1bdf4dbc-519c-5ffa-b168-3961cd59a2d4",
      "name": "Switch Onboarding Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        620,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            for (const item of items) {\n              const page = await notionGetPage(item.json.leadPageId);\n              const savedToken = notionPropertyText(page.properties || {}, 'Approval Token');\n              if (savedToken && savedToken !== item.json.approvalToken) {\n                throw new Error('Approval token dogrulanamadi.');\n              }\n              const email = notionPropertyText(page.properties || {}, 'Email');\n              const company = notionPropertyText(page.properties || {}, 'Company') || notionPropertyText(page.properties || {}, 'Name');\n              await notionUpdatePage(item.json.leadPageId, {\n                'Lead Status': notionStatus('Active'),\n                'Selected Package': notionSelect(item.json.selectedPackage || 'Starter'),\n              });\n              const onboardingUrl = `${readEnv('STATIC_SITE_BASE_URL')}/automation/forms/onboarding-form.html?leadPageId=${encodeURIComponent(item.json.leadPageId)}&approvalToken=${encodeURIComponent(item.json.approvalToken)}&brandName=${encodeURIComponent(company)}&email=${encodeURIComponent(email)}`;\n              await sendEmail({\n                to: email,\n                subject: 'Hos geldiniz! Onboarding formunuz hazir',\n                html: `\n                  <div style=\"font-family:Arial,sans-serif;line-height:1.7\">\n                    <p>Merhaba,</p>\n                    <p>Teklif onayiniz sisteme dustu. Simdi proje kurulumuna geciyoruz.</p>\n                    <p>Asagidaki onboarding formunu doldurdugunuzda ekip brief, klasorleme ve ilk icerik planini otomatik baslatacak:</p>\n                    <p><a href=\"${onboardingUrl}\">${onboardingUrl}</a></p>\n                    <p>Sevgiler,<br>Yankura</p>\n                  </div>\n                `,\n              });\n            }\n            return items;\n"
      },
      "id": "1bb9a3a0-857f-5c40-8ccc-ed7e0c30e67e",
      "name": "Process Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction readEnv(name, defaultValue = undefined) {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    if (defaultValue !== undefined) {\n      return defaultValue;\n    }\n    throw new Error(`Missing environment variable: ${name}`);\n  }\n  return value;\n}\n\nfunction optionalEnv(name, defaultValue = '') {\n  const value = process.env[name];\n  if (value === undefined || value === null || value === '') {\n    return defaultValue;\n  }\n  return value;\n}\n\nasync function httpJson(url, options = {}) {\n  const response = await fetch(url, options);\n  const text = await response.text();\n  let payload = {};\n  try {\n    payload = text ? JSON.parse(text) : {};\n  } catch {\n    payload = { raw: text };\n  }\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${text.slice(0, 500)}`);\n  }\n  return payload;\n}\n\nasync function httpBytes(url, options = {}) {\n  const response = await fetch(url, options);\n  const buffer = Buffer.from(await response.arrayBuffer());\n  if (!response.ok) {\n    throw new Error(`${options.method || 'GET'} ${url} failed (${response.status}): ${buffer.toString('utf-8').slice(0, 500)}`);\n  }\n  return buffer;\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .normalize('NFKD')\n    .replace(/[^\\w\\s-]/g, '')\n    .trim()\n    .replace(/[\\s_-]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .toLowerCase();\n}\n\nfunction toText(value) {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  if (typeof value === 'string') {\n    return value;\n  }\n  if (Array.isArray(value)) {\n    return value.map((entry) => toText(entry)).filter(Boolean).join(' ');\n  }\n  if (typeof value === 'object') {\n    return JSON.stringify(value);\n  }\n  return String(value);\n}\n\nfunction coalesce(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction extractEmail(value) {\n  const match = toText(value).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction parseNumber(value, defaultValue = 0) {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  const match = toText(value).replace(/\\./g, '').replace(/,/g, '.').match(/-?\\d+(?:\\.\\d+)?/);\n  return match ? Number(match[0]) : defaultValue;\n}\n\nfunction parseCurrency(value) {\n  return Math.round(parseNumber(value, 0));\n}\n\nfunction formatCurrency(value) {\n  return new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY', maximumFractionDigits: 0 }).format(Number(value || 0));\n}\n\nfunction chunkRichText(value) {\n  const text = toText(value).slice(0, 1900);\n  if (!text) {\n    return [];\n  }\n  return [\n    {\n      type: 'text',\n      text: {\n        content: text,\n      },\n    },\n  ];\n}\n\nfunction notionTitle(value) {\n  return {\n    title: chunkRichText(value),\n  };\n}\n\nfunction notionRichText(value) {\n  return {\n    rich_text: chunkRichText(value),\n  };\n}\n\nfunction notionSelect(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { select: { name: clean } } : { select: null };\n}\n\nfunction notionStatus(value) {\n  const clean = toText(value).slice(0, 100);\n  return clean ? { status: { name: clean } } : { status: null };\n}\n\nfunction notionEmail(value) {\n  const clean = extractEmail(value);\n  return { email: clean || null };\n}\n\nfunction notionNumber(value) {\n  const parsed = Number(value);\n  return { number: Number.isFinite(parsed) ? parsed : null };\n}\n\nfunction notionUrl(value) {\n  const clean = toText(value);\n  return { url: clean || null };\n}\n\nfunction notionDate(value) {\n  const clean = toText(value);\n  return clean ? { date: { start: clean } } : { date: null };\n}\n\nfunction notionCheckbox(value) {\n  return { checkbox: Boolean(value) };\n}\n\nasync function notionRequest(path, method = 'GET', body = undefined) {\n  const payload = await httpJson(`https://api.notion.com/v1${path}`, {\n    method,\n    headers: {\n      Authorization: `Bearer ${readEnv('NOTION_API_KEY')}`,\n      'Notion-Version': optionalEnv('NOTION_API_VERSION', '2022-06-28'),\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n  return payload;\n}\n\nasync function notionCreatePage(databaseId, properties) {\n  return notionRequest('/pages', 'POST', {\n    parent: { database_id: databaseId },\n    properties,\n  });\n}\n\nasync function notionUpdatePage(pageId, properties) {\n  return notionRequest(`/pages/${pageId}`, 'PATCH', { properties });\n}\n\nasync function notionGetPage(pageId) {\n  return notionRequest(`/pages/${pageId}`);\n}\n\nasync function notionQueryDatabase(databaseId, filter = undefined, sorts = undefined) {\n  const body = { page_size: 100 };\n  if (filter) {\n    body.filter = filter;\n  }\n  if (sorts) {\n    body.sorts = sorts;\n  }\n  const response = await notionRequest(`/databases/${databaseId}/query`, 'POST', body);\n  return response.results || [];\n}\n\nfunction notionPropertyText(properties, name) {\n  const prop = properties?.[name];\n  if (!prop) {\n    return '';\n  }\n  switch (prop.type) {\n    case 'title':\n      return (prop.title || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'rich_text':\n      return (prop.rich_text || []).map((entry) => entry.plain_text || entry.text?.content || '').join('');\n    case 'email':\n      return prop.email || '';\n    case 'phone_number':\n      return prop.phone_number || '';\n    case 'url':\n      return prop.url || '';\n    case 'number':\n      return prop.number === null ? '' : String(prop.number);\n    case 'select':\n      return prop.select?.name || '';\n    case 'status':\n      return prop.status?.name || '';\n    case 'multi_select':\n      return (prop.multi_select || []).map((entry) => entry.name).join(', ');\n    case 'date':\n      return prop.date?.start || '';\n    case 'checkbox':\n      return prop.checkbox ? 'true' : 'false';\n    default:\n      return '';\n  }\n}\n\nfunction parseJsonFromText(rawText) {\n  const text = toText(rawText).trim();\n  if (!text) {\n    throw new Error('AI response was empty.');\n  }\n  try {\n    return JSON.parse(text);\n  } catch {\n    const match = text.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n    if (match) {\n      return JSON.parse(match[1]);\n    }\n    throw new Error(`Could not parse JSON from AI response: ${text.slice(0, 300)}`);\n  }\n}\n\nasync function callAiJson({ systemPrompt, userPrompt, maxTokens = 1400, temperature = 0.2 }) {\n  const provider = optionalEnv('AI_PROVIDER', 'anthropic').toLowerCase();\n  if (provider === 'openai') {\n    const response = await httpJson('https://api.openai.com/v1/responses', {\n      method: 'POST',\n      headers: {\n        Authorization: `Bearer ${readEnv('OPENAI_API_KEY')}`,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: optionalEnv('OPENAI_MODEL', 'gpt-4.1-mini'),\n        input: [\n          { role: 'system', content: [{ type: 'input_text', text: systemPrompt }] },\n          { role: 'user', content: [{ type: 'input_text', text: userPrompt }] },\n        ],\n        text: {\n          format: {\n            type: 'json_schema',\n            name: 'yankura_response',\n            schema: {\n              type: 'object',\n              additionalProperties: true,\n            },\n          },\n        },\n        max_output_tokens: maxTokens,\n        temperature,\n      }),\n    });\n    const outputText = response.output_text\n      || (response.output || [])\n        .flatMap((entry) => entry.content || [])\n        .map((entry) => entry.text || '')\n        .join('\\n');\n    return parseJsonFromText(outputText);\n  }\n\n  const anthropicResponse = await httpJson('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': readEnv('ANTHROPIC_API_KEY'),\n      'anthropic-version': optionalEnv('ANTHROPIC_VERSION', '2023-06-01'),\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: optionalEnv('ANTHROPIC_MODEL', 'claude-sonnet-4-20250514'),\n      system: systemPrompt,\n      max_tokens: maxTokens,\n      temperature,\n      messages: [\n        {\n          role: 'user',\n          content: userPrompt,\n        },\n      ],\n    }),\n  });\n\n  const text = (anthropicResponse.content || [])\n    .filter((entry) => entry.type === 'text')\n    .map((entry) => entry.text)\n    .join('\\n');\n  return parseJsonFromText(text);\n}\n\nasync function sendEmail({ to, subject, html, attachments = [] }) {\n  if (!to) {\n    return { skipped: true };\n  }\n  const response = await httpJson('https://api.resend.com/emails', {\n    method: 'POST',\n    headers: {\n      Authorization: `Bearer ${readEnv('RESEND_API_KEY')}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      from: readEnv('RESEND_FROM_EMAIL'),\n      reply_to: optionalEnv('YANKURA_REPLY_TO', readEnv('RESEND_FROM_EMAIL')),\n      to: [to],\n      subject,\n      html,\n      attachments,\n    }),\n  });\n  return response;\n}\n\nasync function postSlack(text, webhookEnv = 'SLACK_WEBHOOK_URL') {\n  const webhook = optionalEnv(webhookEnv);\n  if (!webhook) {\n    return { skipped: true };\n  }\n  const response = await fetch(webhook, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ text }),\n  });\n  if (!response.ok) {\n    throw new Error(`Slack notification failed (${response.status})`);\n  }\n  return { ok: true };\n}\n\nfunction base64UrlEncode(input) {\n  return Buffer.from(input).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n}\n\nasync function googleAccessToken(scopes) {\n  const serviceEmail = readEnv('GOOGLE_SERVICE_ACCOUNT_EMAIL');\n  const privateKey = readEnv('GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY').replace(/\\\\n/g, '\\n');\n  const now = Math.floor(Date.now() / 1000);\n  const payload = {\n    iss: serviceEmail,\n    scope: scopes.join(' '),\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  };\n  const delegatedUser = optionalEnv('GOOGLE_DELEGATED_USER');\n  if (delegatedUser) {\n    payload.sub = delegatedUser;\n  }\n  const header = { alg: 'RS256', typ: 'JWT' };\n  const unsignedJwt = `${base64UrlEncode(JSON.stringify(header))}.${base64UrlEncode(JSON.stringify(payload))}`;\n  const signer = crypto.createSign('RSA-SHA256');\n  signer.update(unsignedJwt);\n  signer.end();\n  const signature = signer.sign(privateKey).toString('base64').replace(/=/g, '').replace(/\\+/g, '-').replace(/\\//g, '_');\n  const assertion = `${unsignedJwt}.${signature}`;\n  const body = new URLSearchParams({\n    grant_type: 'urn:ietf:params:oauth:grant-type:jwt-bearer',\n    assertion,\n  });\n  const response = await httpJson('https://oauth2.googleapis.com/token', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: body.toString(),\n  });\n  return response.access_token;\n}\n\nasync function googleJson(url, token, method = 'GET', body = undefined) {\n  return httpJson(url, {\n    method,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n    body: body === undefined ? undefined : JSON.stringify(body),\n  });\n}\n\nasync function googleCreateDoc(name, folderId, textContent) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/documents',\n  ]);\n  const file = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.document',\n    parents: [folderId],\n  });\n  await googleJson(`https://docs.googleapis.com/v1/documents/${file.id}:batchUpdate`, token, 'POST', {\n    requests: [\n      {\n        insertText: {\n          location: { index: 1 },\n          text: textContent,\n        },\n      },\n    ],\n  });\n  const pdfBuffer = await httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${file.id}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n  return {\n    id: file.id,\n    url: `https://docs.google.com/document/d/${file.id}/edit`,\n    pdfBase64: pdfBuffer.toString('base64'),\n  };\n}\n\nasync function googleCreateFolder(name, parentId) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/drive']);\n  const folder = await googleJson('https://www.googleapis.com/drive/v3/files?supportsAllDrives=true', token, 'POST', {\n    name,\n    mimeType: 'application/vnd.google-apps.folder',\n    parents: [parentId],\n  });\n  return {\n    id: folder.id,\n    url: `https://drive.google.com/drive/folders/${folder.id}`,\n  };\n}\n\nasync function googleSheetsAppend(spreadsheetId, range, rows) {\n  const token = await googleAccessToken(['https://www.googleapis.com/auth/spreadsheets']);\n  return googleJson(\n    `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}:append?valueInputOption=USER_ENTERED`,\n    token,\n    'POST',\n    {\n      values: rows,\n    },\n  );\n}\n\nasync function googleCopySlidesTemplate(templateId, name, folderId) {\n  const token = await googleAccessToken([\n    'https://www.googleapis.com/auth/drive',\n    'https://www.googleapis.com/auth/presentations',\n  ]);\n  const copy = await googleJson(\n    `https://www.googleapis.com/drive/v3/files/${templateId}/copy?supportsAllDrives=true`,\n    token,\n    'POST',\n    {\n      name,\n      parents: [folderId],\n    },\n  );\n  return {\n    id: copy.id,\n    token,\n  };\n}\n\nasync function googleSlidesReplaceText(presentationId, token, replacements) {\n  const requests = replacements.map((entry) => ({\n    replaceAllText: {\n      containsText: {\n        text: entry.placeholder,\n        matchCase: true,\n      },\n      replaceText: entry.value,\n    },\n  }));\n  await googleJson(\n    `https://slides.googleapis.com/v1/presentations/${presentationId}:batchUpdate`,\n    token,\n    'POST',\n    { requests },\n  );\n}\n\nasync function googleExportPdf(fileId, token) {\n  return httpBytes(\n    `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application/pdf&supportsAllDrives=true`,\n    {\n      headers: {\n        Authorization: `Bearer ${token}`,\n      },\n    },\n  );\n}\n\nfunction previousMonthRange() {\n  const now = new Date();\n  const start = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() - 1, 1));\n  const end = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 0));\n  const iso = (date) => date.toISOString().slice(0, 10);\n  const label = start.toLocaleDateString('tr-TR', {\n    year: 'numeric',\n    month: 'long',\n    timeZone: 'Europe/Istanbul',\n  });\n  return {\n    since: iso(start),\n    until: iso(end),\n    label,\n  };\n}\n\nfunction nextFiveWeekdays() {\n  const dates = [];\n  const cursor = new Date();\n  cursor.setHours(0, 0, 0, 0);\n  while (dates.length < 5) {\n    cursor.setDate(cursor.getDate() + 1);\n    const day = cursor.getDay();\n    if (day !== 0 && day !== 6) {\n      dates.push(new Date(cursor));\n    }\n  }\n  return dates.map((date) => ({\n    iso: date.toISOString().slice(0, 10),\n    label: date.toLocaleDateString('tr-TR', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: 'Europe/Istanbul',\n    }),\n  }));\n}\n\nfunction serviceKeywordFallback(text) {\n  const raw = toText(text).toLowerCase();\n  if (/reklam|meta|facebook ads|tiktok ads|kampanya|roas|cpm|ctr/.test(raw)) {\n    return 'reklam_kampanyasi';\n  }\n  if (/içerik|icerik|caption|reels|carousel|tasarım|brief/.test(raw)) {\n    return 'icerik_uretimi';\n  }\n  if (/rapor|report|performans|ölçüm|olcum/.test(raw)) {\n    return 'raporlama';\n  }\n  if (/sosyal medya|instagram yönetimi|instagram yonetimi|takvim|planlama/.test(raw)) {\n    return 'sosyal_medya_yonetimi';\n  }\n  return 'diger';\n}\n\n            const results = [];\n            for (const item of items) {\n              const leadPage = await notionGetPage(item.json.leadPageId);\n              const savedToken = notionPropertyText(leadPage.properties || {}, 'Approval Token');\n              if (savedToken && savedToken !== item.json.approvalToken) {\n                throw new Error('Onboarding token dogrulanamadi.');\n              }\n              const clientName = item.json.brandName || notionPropertyText(leadPage.properties || {}, 'Company') || notionPropertyText(leadPage.properties || {}, 'Name');\n              const email = item.json.email || notionPropertyText(leadPage.properties || {}, 'Email');\n\n              const briefPage = await notionCreatePage(readEnv('NOTION_BRIEFS_DATABASE_ID'), {\n                Name: notionTitle(`${clientName} | Marka Briefi`),\n                Client: notionRichText(clientName),\n                Website: notionUrl(item.json.website),\n                'Target Audience': notionRichText(item.json.targetAudience),\n                'Brand Voice': notionRichText(item.json.brandVoice),\n                'Avoid Topics': notionRichText(item.json.avoidTopics),\n                'Primary Goal': notionRichText(item.json.primaryGoal),\n              });\n\n              const rootFolder = await googleCreateFolder(clientName, readEnv('GOOGLE_DRIVE_CLIENTS_ROOT_FOLDER_ID'));\n              await googleCreateFolder('Creatives', rootFolder.id);\n              await googleCreateFolder('Reports', rootFolder.id);\n              await googleCreateFolder('Strategy', rootFolder.id);\n\n              await notionUpdatePage(item.json.leadPageId, {\n                'Lead Status': notionStatus('Active'),\n                'Drive Folder Url': notionUrl(rootFolder.url),\n                'Brief Url': notionUrl(briefPage.url),\n                'Target Audience': notionRichText(item.json.targetAudience),\n                'Brand Voice': notionRichText(item.json.brandVoice),\n                'Avoid Topics': notionRichText(item.json.avoidTopics),\n              });\n\n              await httpJson(`${readEnv('INTERNAL_WEBHOOK_BASE_URL', 'http://n8n-main:5678')}/webhook/yankura/content/calendar/generate`, {\n                method: 'POST',\n                headers: { 'Content-Type': 'application/json' },\n                body: JSON.stringify({\n                  leadPageId: item.json.leadPageId,\n                }),\n              });\n\n              await sendEmail({\n                to: email,\n                subject: 'Yankura onboarding tamamlandi',\n                html: `\n                  <div style=\"font-family:Arial,sans-serif;line-height:1.7\">\n                    <p>Merhaba,</p>\n                    <p>Onboarding bilgileriniz alindi. Artık proje kurulumunuz tamamlandi ve ekip ilk icerik takvimini olusturuyor.</p>\n                    <p><strong>Klasor:</strong> <a href=\"${rootFolder.url}\">${rootFolder.url}</a></p>\n                    <p><strong>Brief sayfasi:</strong> <a href=\"${briefPage.url}\">${briefPage.url}</a></p>\n                    <p>Check-list:</p>\n                    <ul>\n                      <li>Marka varliklari klasore yuklenecek</li>\n                      <li>Ilk icerik takvimi onaya cikacak</li>\n                      <li>Reklam hesap erisimleri ekip tarafindan kontrol edilecek</li>\n                    </ul>\n                  </div>\n                `,\n              });\n\n              await postSlack(\n                `Yeni musteri basladi!\\nMusteri: ${clientName}\\nDrive: ${rootFolder.url}\\nBrief: ${briefPage.url}`,\n                'SLACK_WEBHOOK_OPERATIONS',\n              );\n\n              results.push({\n                json: {\n                  ...item.json,\n                  briefUrl: briefPage.url,\n                  driveFolderUrl: rootFolder.url,\n                },\n              });\n            }\n            return results;\n"
      },
      "id": "87e26043-02aa-5502-9328-2d0bf96010fb",
      "name": "Complete Onboarding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "return items;\n"
      },
      "id": "ee468dd0-fd9c-597e-8e76-fd723b6f53a6",
      "name": "Unhandled Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        560
      ]
    }
  ],
  "connections": {
    "Proposal Approval Webhook": {
      "main": [
        [
          {
            "node": "Normalize Onboarding Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Form Webhook": {
      "main": [
        [
          {
            "node": "Normalize Onboarding Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Onboarding Event": {
      "main": [
        [
          {
            "node": "Switch Onboarding Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Onboarding Mode": {
      "main": [
        [
          {
            "node": "Process Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complete Onboarding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unhandled Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7e16973-ed99-5291-8092-0bcadfbe7250",
  "meta": {
    "instanceId": "yankura-automation",
    "templateCredsSetupCompleted": false
  },
  "id": "dc91049b-7468-5cf8-9526-31ccf98ccfab",
  "tags": []
}
